.main {
  display: flex;
  height: 7.5vh;
  background-color: rgb(157, 29, 208);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-family: "Caveat Brush", cursive;
  font-size: x-large;
  margin-left: 10px;
}

.links {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}


@media screen and (max-width: 768px) {
  .main {
    height: 10vh;
  }

  .logo{
    margin-left: 20px;
    font-size: xx-large;
  }
  .links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }
}
