/* Loader Container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Spinning Loader */
  .loader {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border for spinning effect */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.6s linear infinite; /* Spinning animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  